body {
  font-family: Roboto, "Sans Serif"
}

.navbar-static-top {
  margin-bottom: 0px;
}

.title {
  font-weight: 700;
  margin-top: 15px;
  color: #2C3E50;
}

.subtitle {
  margin-top: 0px;
  color: #777;
}

.white {
  color: #FFF;
}

.bold {
  font-weight: 700;
}

.search-area {
  background-color: #3498DB;
}

#map-canvas { 
  height: 350px; 
}

.btn-responsive {
  white-space: normal;
  width: 100%;
  margin-bottom: 15px;    
}

.footer-text {margin-top: 1.2em;}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .no-bullets{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  }  