<div ng-include="'templates/shared/navbar.html'"></div> 
<div class="container-fluid">
<div class="row accent1">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="bold">Account</h1>
  </div>
</div>  
  <div class="col-md-8 col-md-offset-2">
  <h3 class="text-info bold">
        {{user.fullName}}
      </h3>
     <ul class="no-bullets">
                <li><span class="bold">First Name: </span>{{user.givenName}}</li>
                <li><span class="bold">Last Name: </span>{{user.surname}}</li>
                <li><span class="bold">Email: </span>{{user.email}}</li>
      </ul>
  </div>
</div>
<div ng-include="'templates/shared/footer.html'"></div> 