<div ng-include="'templates/shared/navbar.html'"></div> 
  <div class="container-fluid">
    <div class="row accent1 pad-top">
        <div class="col-md-12">
          <div class="form-group col-md-3">
          <label>Search</label> <input class="form-control" ng-model=
          "searchTerm" ng-model-options="{debounce: 500}" placeholder=
          "Search for a project..." type="text">
        </div>
        <div class="form-group col-md-3">
          <label>Department</label> <input class="form-control" ng-model=
          "department" placeholder="Select a department..." type="text"
          typeahead-editable="false" typeahead-on-select=
          "onSelect($item, $model, $label)" typeahead-show-hint="true"
          uib-typeahead=
          "item.department for item in departments | filter:$viewValue | limitTo:8">
          </div>
        <div class="form-group col-md-3">
          <label>Division</label> <input class="form-control" ng-model=
          "division" placeholder="Select a division..." type="text"
          typeahead-editable="false" typeahead-on-select=
          "onSelect($item, $model, $label)" typeahead-show-hint="true"
          uib-typeahead=
          "item.division for item in divisions | filter:$viewValue | limitTo:8">
          </div>
          <div class="form-group  col-md-2">
            <label>Council District</label> <select class="form-control"
            ng-model="councilDistrict" ng-options=
            "item as item.district_name for item in council track by item.district_id">
              </select>
          </div>
        <div class="form-group col-md-1">
        <label>&nbsp</label>
          <button class="btn btn-danger btn-responsive" ng-click="clearFilter()">Clear</button>
        </div>
      </div>
    </div>

    <div class="hidden-xs row gray">
        <div class="col-md-3 col-sm-6 tile">
          <h1 class="text-primary bold">{{projectStats.projects}}</h1>
          <h3 class="text-info bold">{{projectLabel}}</h3>
        </div>
        <div class="col-md-3 col-sm-6 tile">
          <h1 class="text-primary bold">{{projectStats.phases}}</h1>
          <h3 class="text-info bold">{{phaseLabel}}</h3>
        </div>
        <div class="col-md-3 col-sm-6 tile">
          <h1 class="text-primary bold">{{projectStats.budget | currency : '$' : 0}}</h1>
          <h3 class="text-info bold">Budget</h3>
        </div>
        
         <div class="col-md-3 col-sm-6 tile">
         <h1 class="text-primary bold">{{projectStats.actual | currency : '$' : 0}}</h1>
          <h3 class="text-info bold">Spent</h3>
        </div>
    </div>

    <div class="hidden-xs row pad-top">
          <div class="col-md-4 col-sm-6">
          <canvas height="100" chart-data="budgetData" chart-labels="['Under Budget', 'On Budget', 'Over Budget']" class="chart chart-doughnut" id="doughnut" chart-colours="['#2ecc71','#3498db','#e74c3c']" chart-options="{percentageInnerCutout : 70}"></canvas>
            
            <div class="row text-center pad-top">
            <div class="col-md-12">
              <button class="btn btn-success btn-responsive chart-label" type="button">Under Budget <span class="badge">{{projectStats.under_budget}}</span></button>
              <button class="btn btn-info btn-responsive chart-label" type="button">On Budget <span class="badge">{{projectStats.on_budget}}</span></button>           
              <button class="btn btn-danger btn-responsive chart-label" type="button">Over Budget <span class="badge">{{projectStats.over_budget}}</span></button></div>
            </div>
            
          </div>

          <div class="col-md-4 col-sm-6">
          <canvas height="100" chart-data="scheduleData" chart-labels=
            "['Ahead of Schedule', 'On Schedule', 'Behind Schedule']" class=
            "chart chart-doughnut" id="doughnut" chart-colours="['#2ecc71','#3498db','#e74c3c']"  chart-options="{percentageInnerCutout : 70}"></canvas>
            
            <div class="row text-center pad-top">
              <div class="col-md-12">
              <button class="btn btn-success btn-responsive chart-label" type="button">Ahead of Schedule <span class="badge">{{projectStats.ahead_schedule}}</span></button>
              <button class="btn btn-info btn-responsive chart-label" type="button">On Schedule <span class="badge">{{projectStats.on_schedule}}</span></button>          
              <button class="btn btn-danger btn-responsive chart-label" type="button">Behind Schedule <span class="badge">{{projectStats.behind_schedule}}</span></button>
              </div>
            </div>
              
          </div>

          <div class="col-md-4 col-sm-6">
          <canvas height="100" chart-data="statusData" chart-labels=
            "['Not Started', 'In Progress', 'Completed']" class=
            "chart chart-doughnut" id="doughnut" chart-colours="['#e74c3c','#2ecc71','#3498db']"  chart-options="{percentageInnerCutout : 70}">
            </canvas>
            
            <div class="row text-center pad-top">
            <div class="col-md-12">
              <button class="btn btn-danger btn-responsive chart-label" type="button">Not Started <span class="badge">{{projectStats.not_started}}</span></button>
              <button class="btn btn-success btn-responsive chart-label" type="button">In Progress <span class="badge">{{projectStats.in_progress}}</span></button>
              <button class="btn btn-info btn-responsive chart-label" type="button">Completed <span class="badge">{{projectStats.completed}}</span></button></div>
            </div>
          </div>
      </div>

   <div class="row">
    <div class="col-md-12">
      <h1 class="text-primary bold">Projects</h1>
      
      <div class="col-md-4 visible-xs" ng-repeat="x in projects">
      <div class="panel panel-default panel-body">
      <a ui-sref="projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})"><h3 class="text-primary bold">{{x.project_name}}</h3></a>
      <ul class="no-bullets">
                <li><span class="bold">Department: </span>{{x.department}}</li>
                <li><span class="bold">Division: </span>{{x.division}}</li>
                <li><span class="bold">Budget: </span>{{x.budget | currency}}</li>
                <li><span class="bold">Actual: </span>{{x.actual | currency}}</li>
                <li><span class="bold">Work Complete: </span>{{x.work_complete | percent}}</li>
      </ul>
      <label>Cost Variance</label>
      <a ui-sref="projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})"><status-flag metric-value="{{x.cost_variance}}"></status-flag></a>
      <label>Schedule Variance</label>
      <a ui-sref="projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})"><status-flag metric-value="{{x.schedule_variance}}"></status-flag></a>   
      </div>
      </div>
<div class="table-responsive">
      <table class="table table-striped hidden-xs">
        <thead>
          <tr>
            <th>Project</th>
            <th>Phase</th>
            <th>Department</th>
            <th>Division</th>
            <th>Contractor</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>Work Complete</th>
            <th>Cost Variance</th>
            <th>Schedule Variance</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in projects">
            <td>
              <a ui-sref=
              "projectPage({projectId: x.project_id})">{{x.project_name}}</a>
            </td>
            <td>
              <a ui-sref=
              "projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})">{{x.phase_name}}</a>
            </td>
            <td>
              <a ui-sref=
              "projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})">{{x.department}}</a>
            </td>
            <td>
              <a ui-sref=
              "projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})">{{x.division}}</a>
            </td>
            <td>
              <a ui-sref=
              "projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})">{{x.contractor}}</a>
            </td>
            <td>
              <a ui-sref=
              "projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})">{{x.budget
              | currency}}</a>
            </td>
            <td>
              <a ui-sref=
              "projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})">{{x.actual
              | currency}}</a>
            </td>
            <td>
              <a ui-sref=
              "projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})">{{x.work_complete
              | percent: 2}}</a>
            </td>
            <td>
              <status-flag metric-value="{{x.cost_variance}}"><a ui-sref=
              "projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})"></a></status-flag>
            </td>
            <td>
              <status-flag metric-value="{{x.schedule_variance}}"><a ui-sref=
              "projectPage.phase({projectId: x.project_id, phaseId: x.phase_id})"></a></status-flag>
            </td>
          </tr>
        </tbody>
      </table>
</div>
      <p class="text-center" ng-show="noResults">No projects were found for your search.</p>
    
    </div>
    </div>
 
  </div>
  <div ng-include="'templates/shared/footer.html'"></div> 