  <div class="container-fluid">
      <div class="text-center">
        <h1 class="text-primary bold">Lexington Project Dashboard</h1>
      </div>

      <div class="col-md-6">  
        <div class="col-md-6">
        	<button class-"btn btn-primary btn-responsive" ui-sref="login">Login</button>
       	</div>
       	<div class="col-md-6">
        	<button class-"btn btn-primary btn-responsive" ui-sref="register">Register</button>
        </div>
      </div>
      <div sp-login-form></div>
  </div>