<style>.angular-google-map-container { height: 400px;}</style>
<div ng-include="'templates/shared/navbar.html'"></div>
<form name="projectForm" novalidate>
<div class="container-fluid">
<div class="row accent1">
  <div class="col-md-8 col-md-offset-2"><h1 class="bold">Edit Phase</h1></div>
</div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="text-info bold">
            Phase Information
          </h3>
          <div class="row">
            <div class="form-group col-md-6" ng-class="{ 'has-error' : projectForm.phaseType.$invalid && !projectForm.phaseType.$pristine }">
              <label>
                Phase Type
              </label>
              <select name="phaseType" class="form-control" ng-options="item as item.phase_name for item in phaseTypes track by item.phase_type_id" ng-model="projectData.phaseType" required>
              </select>
              <p ng-show="projectForm.phaseType.$invalid && !projectForm.phaseType.$pristine" class="help-block">Please select a phase type.</p>
            </div>
            <div class="form-group col-md-6">
              <label>
                Phase Status
              </label>
              <select name="phaseStatus" class="form-control" ng-options="item as item.status_name for item in statusTypes track by item.status_type_id" ng-model="projectData.phaseStatus" required>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6" ng-class="{ 'has-error' : projectForm.phaseManager.$invalid && !projectForm.phaseManager.$pristine }">
              <label>
                Phase Manager
              </label>
              <input type="text" name="phaseManager" class="form-control" type="text" ng-model="projectData.phaseManager" required/>
              <p ng-show="projectForm.phaseManager.$invalid && !projectForm.phaseManager.$pristine" class="help-block">Please enter the phase manager.</p>
            </div>
            <div class="form-group col-md-6" ng-class="{ 'has-error' : projectForm.division.$invalid && !projectForm.division.$pristine }">
              <label>
                Division
              </label>
              <input type="text" name="division" ng-model="projectData.division" uib-typeahead="item as item.division for item in divisions track by item.division_id | filter:$viewValue | limitTo:8" class="form-control" typeahead-show-hint="true" typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)" required>
              <p ng-show="projectForm.division.$invalid && !projectForm.division.$pristine" class="help-block">Please select a division.</p>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : projectForm.phaseDesc.$invalid && !projectForm.phaseDesc.$pristine }">
            <label>
              Phase Description
            </label>
            <textarea name="phaseDesc" class="form-control" ng-model="projectData.phaseDesc" required>
            </textarea>
            <p ng-show="projectForm.phaseDesc.$invalid && !projectForm.phaseDesc.$pristine" class="help-block">Please enter a phase description.</p>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>
                Resolution Number
              </label>
              <input class="form-control" type="text" name="resoNumber" ng-model="projectData.resoNumber" />
            </div>
            <div class="form-group col-md-6">
              <label>
                RFP Number
              </label>
              <input class="form-control" type="text" name="rfpNumber" ng-model="projectData.rfpNumber" />
            </div>
          </div>
          <h3 class="text-info bold">
            Financial Information
          </h3>
          <div class="row">
            <div class=" col-md-12 has-error">
                <p ng-show="(projectForm.amount.$invalid || projectForm.fy.$invalid || projectForm.fund.$invalid || projectForm.dept.$invalid || projectForm.section.$invalid || projectForm.account.$invalid) && (!projectForm.amount.$pristine || !projectForm.fy.$pristine || !projectForm.fund.$pristine || !projectForm.dept.$pristine || !projectForm.section.$pristine || !projectForm.account.$pristine)" class="help-block">Please enter a funding source.</p>
            </div>
          </div>

          <div class="row">
          <div class="col-md-12 form-group" ng-class="{ 'has-error' : (projectForm.amount.$invalid || projectForm.fy.$invalid || projectForm.fund.$invalid || projectForm.dept.$invalid || projectForm.section.$invalid || projectForm.account.$invalid) && (!projectForm.amount.$pristine || !projectForm.fy.$pristine || !projectForm.fund.$pristine || !projectForm.dept.$pristine || !projectForm.section.$pristine || !projectForm.account.$pristine) }" >
          <p class="bold hidden-md hidden-lg">Line 1</p>
              <input name="amount" class="form-financial wide" type="text" ng-model="projectData.accounting['1'].amount" placeholder="Amount" ui-money-mask="2" required>
              <input name="projectid" class="form-financial" type="text" ng-model="projectData.accounting['1'].projectid" placeholder="Project">
              <input name="activity" class="form-financial" type="text" ng-model="projectData.accounting['1'].activity" placeholder="Activity">
              <input name="fy" class="form-financial" type="text" ng-model="projectData.accounting['1'].fiscalyear" placeholder="FY" required>
              <input name="fund" class="form-financial" type="text" ng-model="projectData.accounting['1'].fund" placeholder="Fund" required>
              <input name="dept" class="form-financial" type="text" ng-model="projectData.accounting['1'].department" placeholder="Dept ID" required>
              <input name="section" class="form-financial" type="text" ng-model="projectData.accounting['1'].section" placeholder="Section" required>
              <input name="account" class="form-financial" type="text" ng-model="projectData.accounting['1'].account"  placeholder="Account" required>
          </div>
          </div>
                    <div class="row">
          <div class="col-md-12 form-group">
          <p class="bold hidden-md hidden-lg">Line 2</p>
              <input class="form-financial wide" type="text" ng-model="projectData.accounting['2'].amount" placeholder="Amount" ui-money-mask="2" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['2'].projectid" placeholder="Project"/>
              <input class="form-financial" type="text" ng-model="projectData.accounting['2'].activity" placeholder="Activity" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['2'].fiscalyear" placeholder="FY" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['2'].fund" placeholder="Fund" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['2'].department" placeholder="Dept ID" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['2'].section" placeholder="Section" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['2'].account"  placeholder="Account" />
          </div>
          </div>
                    <div class="row">
          <div class="col-md-12 form-group">
          <p class="bold hidden-md hidden-lg">Line 3</p>
              <input class="form-financial wide" type="text" ng-model="projectData.accounting['3'].amount" placeholder="Amount" ui-money-mask="2" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['3'].projectid" placeholder="Project"/>
              <input class="form-financial" type="text" ng-model="projectData.accounting['3'].activity" placeholder="Activity" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['3'].fiscalyear" placeholder="FY" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['3'].fund" placeholder="Fund" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['3'].department" placeholder="Dept ID" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['3'].section" placeholder="Section" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['3'].account"  placeholder="Account" />
          </div>
          </div>
                    <div class="row">
          <div class="col-md-12 form-group">
          <p class="bold hidden-md hidden-lg">Line 4</p>
              <input class="form-financial wide" type="text" ng-model="projectData.accounting['4'].amount" placeholder="Amount" ui-money-mask="2" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['4'].projectid" placeholder="Project"/>
              <input class="form-financial" type="text" ng-model="projectData.accounting['4'].activity" placeholder="Activity" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['4'].fiscalyear" placeholder="FY" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['4'].fund" placeholder="Fund" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['4'].department" placeholder="Dept ID" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['4'].section" placeholder="Section" />
              <input class="form-financial" type="text" ng-model="projectData.accounting['4'].account"  placeholder="Account" />
          </div>
          </div>
                    <div class="row">
          <div class="col-md-12 form-group">
          <p class="bold hidden-md hidden-lg">Line 5</p>
              <input name="amount" class="form-financial wide" type="text" ng-model="projectData.accounting['5'].amount" placeholder="Amount" ui-money-mask="2" />
              <input name="projectid" class="form-financial" type="text" ng-model="projectData.accounting['5'].projectid" placeholder="Project"/>
              <input name="activity" class="form-financial" type="text" ng-model="projectData.accounting['5'].activity" placeholder="Activity" />
              <input name="fy" class="form-financial" type="text" ng-model="projectData.accounting['5'].fiscalyear" placeholder="FY" />
              <input name="fund" class="form-financial" type="text" ng-model="projectData.accounting['5'].fund" placeholder="Fund" />
              <input name="dept" class="form-financial" type="text" ng-model="projectData.accounting['5'].department" placeholder="Dept ID" />
              <input name="section" class="form-financial" type="text" ng-model="projectData.accounting['5'].section" placeholder="Section" />
              <input name="account" class="form-financial" type="text" ng-model="projectData.accounting['5'].account"  placeholder="Account" />
          </div>
          </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-info bold">
          Phase Details
        </h3>
        <div class="form-group" ng-class="{ 'has-error' : projectForm.contractor.$invalid && !projectForm.contractor.$pristine }">
          <label>
            Consultant/Contractor
          </label>
          <input class="form-control" type="text" name="contractor" ng-model="projectData.contractor" placeholder="ex. XYZ Contracting, Inc." required/>
          <p ng-show="projectForm.contractor.$invalid && !projectForm.contractor.$pristine" class="help-block">Please enter the consultant or contractor.</p>
        </div>
        <div class="row">
          <div class="form-group col-md-6" ng-class="{ 'has-error' : projectForm.startDate.$invalid && !projectForm.startDate.$pristine }">
            <label>
              Start Date
            </label>
            <p class="input-group">
              <input type="text" name="startDate" class="form-control" uib-datepicker-popup="shortDate" ng-model="projectData.startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Done" placeholder="ex. 1/1/16" required/>

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()">
                  <i class="glyphicon glyphicon-calendar">
                  </i>
                </button>
              </span>

            </p>
            <p ng-show="projectForm.startDate.$invalid && !projectForm.startDate.$pristine" class="help-block">Please enter a start date.</p>
          </div>
          <div class="form-group col-md-6" ng-class="{ 'has-error' : projectForm.completionDate.$invalid && !projectForm.completionDate.$pristine }">
            <label>
              Estimated Completion Date
            </label>
            <p class="input-group">
              <input type="text" name="completionDate" class="form-control" uib-datepicker-popup="shortDate" ng-model="projectData.completionDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Done" placeholder="ex. 12/31/16" required/>

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()">
                  <i class="glyphicon glyphicon-calendar">
                  </i>
                </button>
              </span>

            </p>
            <p ng-show="projectForm.completionDate.$invalid && !projectForm.completionDate.$pristine" class="help-block">Please enter a completion date.</p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4" ng-class="{ 'has-error' : projectForm.phaseBudget.$invalid && !projectForm.phaseBudget.$pristine }">
            <label>
              Budget ($)
            </label>
            <input class="form-control" type="text" name="phaseBudget" ng-model="projectData.phaseBudget" ui-money-mask="2" required/>
            <p ng-show="projectForm.phaseBudget.$invalid && !projectForm.phaseBudget.$pristine" class="help-block">Please enter the budget for this phase.</p>
          </div>
          <div class="form-group col-md-4" ng-class="{ 'has-error' : projectForm.phaseActual.$invalid && !projectForm.phaseActual.$pristine }">
            <label>
              Actual Spent ($)
            </label>
            <input class="form-control" type="text" name="phaseActual" ng-model="projectData.phaseActual" ui-money-mask required/>
            <p ng-show="projectForm.phaseActual.$invalid && !projectForm.phaseActual.$pristine" class="help-block">Please enter the actual spent.</p>
          </div>
          <div class="form-group col-md-4" ng-class="{ 'has-error' : projectForm.workComplete.$invalid && !projectForm.workComplete.$pristine }">
            <label>
              Actual Work Complete (%)
            </label>
            <input class="form-control" type="text" name="workComplete" ng-model="projectData.workComplete" ui-percentage-mask="0" min="0" max="1"required/>
            <p ng-show="projectForm.workComplete.$invalid && !projectForm.workComplete.$pristine" class="help-block">Please enter the percent complete. Must be between 0 and 1.</p>
          </div>
        </div>
        <div class="form-group">
          <label>
            Notes
          </label>
          <textarea rows="5" ng-model="projectData.notes" class="form-control">
          </textarea>
        </div>
      </div>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-lg btn-success center-block btn-responsive" ng-disabled="projectForm.$invalid" ng-click="savePhase()">
          Save Phase
        </button>
      </div>
</div>
</form>
<pre>{{projectData}}</pre>
<div ng-include="'templates/shared/footer.html'"></div>
