<style>
    .angular-google-map-container {
        height: 300px;
    }
</style>
<div ng-include="'templates/shared/navbar.html'"></div> 
<div class="container-fluid">
<div class="row accent1">
  <div class="col-md-12"><h1 class="bold">{{phaseData.project_name}}</h1>
   <p class="text-gray">Last updated by {{phaseData.proj_mod_user}} on {{ phaseData.proj_mod_time | date: 'short'}}</p>
  </div>
</div>
    <div class="row pad-top pad-bottom">
        <div class="col-sm-4">
        	<a href="" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Edit Project</a>
            <h4 class="text-info bold">Project Description</h4>
            <p>{{phaseData.project_description}}</p>
            <h4 class="text-info bold">Project Information</h4>
            <ul class="no-bullets">
                <li><span class="bold">Project ID:</span> {{phaseData.project_id}}</li>
                <li><span class="bold">Council Districts:</span> {{cdText}}</li>
                <li><span class="bold">Total Budget:</span> {{phaseData.estimated_total_budget | currency}}</li>
                <li><span class="bold">Amount Funded:</span> {{phaseData.funded | currency}}</li>
            </ul>
        </div>

    <div class="col-sm-8 map-container">
            <ui-gmap-google-map center="center" zoom='16'>
                <ui-gmap-marker coords="markerCoords" idkey="0"> </ui-gmap-marker>
            </ui-gmap-google-map>
    </div>
    </div>
    
    <div class="row pad-top">
        <div class="col-md-12 phases">
        <ul class="">
              <li ng-repeat="x in phases" ui-sref-active="phase-active"><a ui-sref="phasePage({projectId: x.project_id, phaseId: x.phase_id})">{{phaseData.phase_name}} Phase</a></li>
              <li><a ui-sref="newPhase({projectId: phaseData.project_id})"><i class="fa fa-plus"></i> Add Phase</a></li>
        </ul>
       </div>
    </div>
       <div class="row gray">
       <div class="col-md-8">
       		<a href="" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Edit Phase</a>
            <h4 class="text-info bold">Phase Description</h4>
            <p>Last updated by {{phaseData.phase_mod_user}} on {{ phaseData.phase_mod_time | date: 'short'}}</p>
            <p>{{phaseData.phase_description}}</p>
            <h4 class="text-info bold">Phase Information</h4>
            
            <ul class="no-bullets">
                <li><span class="bold">Phase ID: </span>{{phaseData.phase_id}}</li>
                <li><span class="bold">Department: </span>{{phaseData.department}}</li>
                <li><span class="bold">Division: </span>{{phaseData.division}}</li>
                <li><span class="bold">Manager: </span>{{phaseData.phase_manager}}</li>
                <li><span class="bold">Contractor: </span>{{phaseData.contractor}}</li>
                <li><span class="bold">RFP Number: </span>{{phaseData.rfp_number}}</li>
                <li><span class="bold">Resolution Number: </span>{{phaseData.resolution_number}}</li>
                <li><span class="bold">Start Date: </span>{{phaseData.start_date | date: 'shortDate' : '-0500'}}</li>
                <li><span class="bold">Estimated Completion Date: </span>{{phaseData.estimated_completion | date: 'shortDate' : '-0500'}}</li>
                <li><span class="bold">Budget: </span>{{phaseData.budget | currency}}</li>
                <li><span class="bold">Actual: </span>{{phaseData.actual | currency}}</li>
                <li><span class="bold">Actual Work Complete: </span>{{phaseData.work_complete | percent}}</li>
            </ul>
        </div>
        </div>
        <div class="row gray">
        <div class="col-md-8">
            <h4 class="text-info bold">Funding</h4>
            <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>FY</th>
                    <th>Project</th>
                    <th>Activity</th>
                    <th>Fund</th>
                    <th>Department</th>
                    <th>Section</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in phaseData.accounting">
                    <td>{{x.amount | currency}}</td>
                    <td>{{x.fiscalyear}}</td>
                    <td>{{x.projectid}}</td>
                    <td>{{x.activity}}</td>
                    <td>{{x.fund}}</td>
                    <td>{{x.department}}</td>
                    <td>{{x.section}}</td>
                    <td>{{x.account}}</td>
                </tr>
            </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="row gray">
    <div class="col-md-8">
        <h4 class="text-info bold">Phase Notes</h4>
        <ul class="list-group">
            <li ng-repeat="x in notes" class="list-group-item">{{ x.date_modified | date: 'shortDate'}} - {{x.notes}}</li>
        </ul>
    </div>
    </div>
</div>
<div ng-include="'templates/shared/footer.html'"></div> 
