<div class="container-fluid">
<h1 class="title">Find a Project</h1>
<div class="row">
  <div class="form-group col-sm-12">
    <label>Search</label>
    <input type="text" class="form-control"/ Placeholder="Search for a project...">
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-4">
    <label>Department</label>
    <input type="text" class="form-control"/ Placeholder="Select a Department...">
  </div>
  <div class="form-group col-sm-4">
    <label>Division</label>
    <input type="text" class="form-control"/ Placeholder="Select a Division...">
  </div>
  <div class="form-group col-sm-4">
    <label>Council District</label>
    <input type="text" class="form-control"/ Placeholder="Select a Council District...">
  </div>
</div>
</div>
<hr>
<div class="container-fluid">
<h1>Map</h1>
</div>