<style>
                        .angular-google-map-container {
                            height: 200px;
			    margin-top: 15px;
                        }
</style>
<div ng-include="templates/shared/navbar.html"></div> 
<div class="container-fluid">
  <div class="row">
  <div class="col-sm-6">
  <h1 class="title"><input class="editor" type="text" ng-model="projectName"></h1>
  <h3 class="blue-title"><textarea class="editor" type="text" ng-model="projectDesc"></textarea></h3>  
  <ul class="no-bullets">
    <li><strong>Project ID:</strong> {{projectId}}</li>
    <li><strong>Council Districts:</strong> <select multiple class="form-control" ng-model="councilDistricts" size=12>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
    </select></li>
    <li><strong>Total Budget:</strong> <input class="editor" type="text" ng-model="total"></li>
    <li><strong>Amount Funded:</strong> <input class="editor" type="text" ng-model="funded"></li>
  </ul>
  <button ui-sref="projectPage({projectId:projectId})"class="btn btn-success"><i class="fa fa-floppy-o"></i> Save Changes</button> 
  </div>
  <div class="col-sm-6">
                    <ui-gmap-google-map center="center" zoom='16'>
                        <ui-gmap-marker coords="markerCoords" options="marker.options" events="marker.events" idkey="0">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
  </div>
  </div>
  <div>
  <hr>
 <div ng-repeat="x in projects">
    <h2 class="subtitle">{{x.phase_name}} Phase</h2>
    <h4>{{x.phase_description}}</h4>
    <p>Last updated by {{x.phase_mod_user}} on {{ x.phase_mod_time | date: 'short'}}</p>
    <ul class="no-bullets">
     <li><strong>Status: </strong>{{x.status_name}}</li>
     <li><strong>Department: </strong>{{x.department}}</li>
     <li><strong>Division: </strong>{{x.division}}</li>
     <li><strong>Manager: </strong>{{x.phase_manager}}</li>
     <li><strong>Start Date: </strong>{{x.start_date | date: 'shortDate'}}</li>
     <li><strong>Estimated Completion Date: </strong>{{x.estimated_completion | date: 'shortDate'}}</li>
     <li><strong>Budget: </strong>{{x.budget | currency}}</li>
     <li><strong>Actual: </strong>{{x.actual | currency}}</li>
     <li><strong>Actual Work Complete: </strong>{{x.work_complete | percent}}</li>
     <li><strong>Notes: </strong> {{x.notes}}</li>
    </ul>
  </div>
  </div> 
  </div>
</div>
<div ng-include="templates/shared/footer.html"></div> 