<div class="container-fluid">
<div class="row">
<div class="col-sm-3">
<h1 class="title">Find a Project</h1>
  <div class="form-group">
    <label>Search</label>
    <input type="text" ng-model="searchTerm" ng-model-options="{debounce: 1000}" ng-change="updateFilter()" class="form-control"/ Placeholder="Search for a project...">
  </div>
  <div class="form-group">
    <label>Department</label>
    <input type="text" ng-model="departmentName" uib-typeahead="department.department for department in departments | filter:$viewValue | limitTo:8" class="form-control" typeahead-show-hint="true" typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)" placeholder="Select a department...">
  </div>
  <div class="form-group">
    <label>Division</label>
    <input type="text" ng-model="divisionName" uib-typeahead="division.division for division in divisions | filter:$viewValue | limitTo:8" class="form-control" typeahead-show-hint="true" typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)" placeholder="Select a division...">
  </div>
  <div class="row">
  <div class="form-group col-sm-6">
    <label>Council District</label>
    <select class="form-control" ng-change="updateFilter()" ng-options="district for district in council" ng-model="councilDistrict"></select>
  </div>
  <div class="form-group col-sm-6">
  <label>Status</label>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="showNs" ng-change="updateFilter()" checked>Not Started</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="showIp" ng-change="updateFilter()" checked>In Progess</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="showC" ng-change="updateFilter()" checked>Completed</label>
  </div>
  </div>
</div>
<button class="btn btn-primary btn-responsive" ng-click="clearFilter()">Clear Filters</button>
</div>
<div class="col-sm-9">
<h1 class="title"></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>Phase</th>
      <th>Department</th>
      <th>Division</th>
      <th>Contractor</th>
      <th>Budget</th>
      <th>Schedule</th>
      <th>Work</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a ui-sref="projectPage">Town Branch Commons</a></td>
      <td>Design</td>
      <td>Mayor's Office</td>
      <td>Office of Project Management</td>
      <td>AECOM</td>
      <td>20%</td>
      <td>20%</td>
      <td>20%</td>
    </tr>
    <tr>
      <td><a ui-sref="projectPage">Southland Drive Sidewalks</a></td>
      <td>Design</td>
      <td>Planning, Preservation, and Development</td>
      <td>Commissioner of Planning</td>
      <td>Palmer Engineering</td>
      <td>20%</td>
      <td>20%</td>
      <td>20%</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>