<style>
    .angular-google-map-container {
        height: 200px;
        margin-top: 15px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="title">{{phase[0].project_name}} <button ui-sref="projectEdit({projectId:projectId})"class="btn btn-default"><i class="fa fa-pencil"></i> Edit Project</button></h1>
            <h3 class="blue-title">{{phase[0].project_description}}</h3>
            <ul class="no-bullets">
                <li><span class="bold">Project ID:</span>{{phase[0].project_id}}</li>
                <li><span class="bold">Council Districts:</span>{{phase[0].council_districts}}</li>
                <li><span class="bold">Total Budget:</span> {{phase[0].estimated_total_budget | currency}}</li>
                <li><span class="bold">Amount Funded:</span> {{phase[0].funded | currency}}</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ui-gmap-google-map center="center" zoom='16'>
                <ui-gmap-marker coords="markerCoords" idkey="0"> </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
    <div>
        <hr>
        <div>
          <a class="btn btn-default btn-space" ui-sref="phasePage({projectId: phase[0].project_id, phaseId: phase[0].phase_id})">{{phase[0].phase_name}}</a>
          <a class="btn btn-success"><i class="fa fa-plus"></i> Add Phase</a>
        </div>
        <div>
            <h2 class="text-info bold">{{phase[0].phase_name}} Phase <button ui-sref="projectEdit({projectId:projectId})"class="btn btn-default"><i class="fa fa-pencil"></i> Edit Phase</button></h2>
            <h4>{{phase[0].phase_description}}</h4>
            <p>Last updated by {{phase[0].phase_mod_user}} on {{ phase[0].phase_mod_time | date: 'short'}}</p>
            <ul class="no-bullets">
                <li><span class="bold">Phase ID: </span>{{phase[0].phase_id}}</li>
                <li><span class="bold">Status: </span>{{phase[0].status_name}}</li>
                <li><span class="bold">Department: </span>{{phase[0].department}}</li>
                <li><span class="bold">Division: </span>{{phase[0].division}}</li>
                <li><span class="bold">Manager: </span>{{phase[0].phase_manager}}</li>
                <li><span class="bold">Start Date: </span>{{phase[0].start_date | date: 'shortDate'}}</li>
                <li><span class="bold">Estimated Completion Date: </span>{{phase[0].estimated_completion | date: 'shortDate'}}</li>
                <li><span class="bold">Budget: </span>{{phase[0].budget | currency}}</li>
                <li><span class="bold">Actual: </span>{{phase[0].actual | currency}}</li>
                <li><span class="bold">Actual Work Complete: </span>{{phase[0].work_complete | percent}}</li>
                <li><span class="bold">Notes: </span> {{phase[0].notes}}</li>
            </ul>
        </div>
    </div>
</div>
</div>
