<div class="container-fluid">
<div class="row">
<div class="col-sm-3">
<h1 class="title">Find a Project</h1>
  <div class="form-group">
    <label>Search</label>
    <input type="text" ng-model="searchTerm" ng-model-options="{debounce: 500}" class="form-control"/ Placeholder="Search for a project...">
  </div>
  <div class="form-group">
    <label>Department</label>
    <input type="text" ng-model="department" uib-typeahead="department.department for department in departments | filter:$viewValue | limitTo:8" class="form-control" typeahead-show-hint="true" typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)" placeholder="Select a department...">
  </div>
  <div class="form-group">
    <label>Division</label>
    <input type="text" ng-model="division" uib-typeahead="division.division for division in divisions | filter:$viewValue | limitTo:8" class="form-control" typeahead-show-hint="true" typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)" placeholder="Select a division...">
  </div>
  <div class="row">
  <div class="form-group col-sm-6">
    <label>Council District</label>
    <select class="form-control" ng-options="district for district in council" ng-model="councilDistrict"></select>
  </div>
  <div class="form-group col-sm-6">
  <label>&nbsp</label>
  <button class="btn btn-info btn-responsive" ng-click="clearFilter()">Clear</button>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6">
    <label>Phase Type</label>
    <select class="form-control" ng-options="district for district in council" ng-model="phaseType"></select>
  </div>
  <div class="form-group col-sm-6">
  <label>&nbsp</label>
  <button class="btn btn-info btn-responsive" ng-click="clearFilter()">Clear</button>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6">
    <label>Phase Status</label>
    <select class="form-control" ng-options="district for district in council" ng-model="phaseStatus"></select>
  </div>
  <div class="form-group col-sm-6">
  <label>&nbsp</label>
  <button class="btn btn-info btn-responsive" ng-click="clearFilter()">Clear</button>
  </div>
</div>
<button class="btn btn-danger btn-responsive" ng-click="clearFilter()">Clear All Filters</button>
</div>
<div class="col-sm-9">
<h1 class ="text-primary bold">{{projectStats.projects}} {{projectLabel}} | {{projectStats.phases}} {{phaseLabel}}</h1>
<div class="row">
</div>
<div class="row">
  <div class="col-sm-4">
  <h4 class="text-info bold">Financial</h4>
  <p><span class="bold">Total Budget: </span>{{projectStats.budget | currency}}</p>
  <p><span class="bold">Total Spent: </span>{{projectStats.actual | currency}}</p>
  <canvas id="doughnut" class="chart chart-doughnut" chart-data="finData" chart-labels="finLabels">
  </canvas>
  </div>
  <div class="col-sm-4">
  <h4 class="text-info bold">Schedule</h4>
  <p><span class="bold">Total Budget: </span>{{projectStats.budget | currency}}</p>
  <p><span class="bold">Total Spent: </span>{{projectStats.actual | currency}}</p>
  <canvas id="doughnut" class="chart chart-doughnut" chart-data="finData" chart-labels="finLabels">
  </canvas>
  </div>
  <div class="col-sm-4">
  <h4 class="text-info bold">Work Complete</h4>
  <p><span class="bold">Total Budget: </span>{{projectStats.budget | currency}}</p>
  <p><span class="bold">Total Spent: </span>{{projectStats.actual | currency}}</p>
  <canvas id="doughnut" class="chart chart-doughnut" chart-data="finData" chart-labels="finLabels">
  </canvas>
  </div>
</div>
<h1 class="title">Projects</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>Phase</th>
      <th>Department</th>
      <th>Division</th>
      <th>Contractor</th>
      <th>Budget</th>
      <th>Schedule</th>
      <th>Work</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat = "x in projects">
      <td><a ui-sref="phasePage({projectId: x.project_id, phaseId: x.phase_id})">{{x.project_name}}</status-flag></a></td>
      <td><a ui-sref="projectPage({projectId: x.project_id})">{{x.phase_name}}</a></td>
      <td><a ui-sref="projectPage({projectId: x.project_id})">{{x.department}}</a></td>
      <td><a ui-sref="projectPage({projectId: x.project_id})">{{x.division}}</a></td>
      <td><a ui-sref="projectPage({projectId: x.project_id})">{{x.contractor}}</a></td>
      <td><a ui-sref="projectPage({projectId: x.project_id})">{{x.budget | currency}}</a></td>
      <td><a ui-sref="projectPage({projectId: x.project_id})">{{x.days_in / x.total_days | percent : 2}}</a></td>
      <td><a ui-sref="projectPage({projectId: x.project_id})">{{x.work_complete | percent: 2}}</a></td>
    </tr>
  </tbody>
</table>
<p class="text-center" ng-show="noResults">No projects were found for your search.</p>
</div>
</div>
</div>
</div>
