<div class="container-fluid">
<h1 class="title">Find a Project</h1>
<div class="row">
  <div class="form-group col-sm-3">
    <label>Search</label>
    <input type="text" class="form-control"/ Placeholder="Search for a project...">
  </div>
  <div class="form-group col-sm-3">
    <label>Department</label>
    <input type="text" class="form-control"/ Placeholder="Select a Department...">
  </div>
  <div class="form-group col-sm-3">
    <label>Division</label>
    <input type="text" class="form-control"/ Placeholder="Select a Division...">
  </div>
  <div class="form-group col-sm-3">
    <label>Council District</label>
    <input type="text" class="form-control"/ Placeholder="Select a Council District...">
  </div>
</div>
<h1 class="title"></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Project</th>
      <th>Phase</th>
      <th>Department</th>
      <th>Division</th>
      <th>Contractor</th>
      <th>Budget</th>
      <th>Schedule</th>
      <th>Work</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a ui-sref="projectPage">Town Branch Commons</a></td>
      <td>Design</td>
      <td>Mayor's Office</td>
      <td>Office of Project Management</td>
      <td>AECOM</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a ui-sref="projectPage">Southland Drive Sidewalks</a></td>
      <td>Design</td>
      <td>Planning, Preservation, and Development</td>
      <td>Commissioner of Planning</td>
      <td>Palmer Engineering</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>